* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/************************
Feed items and images
*************************/

.sneaker-card {
  border: 1px solid #e5e5e5;
  margin-bottom: 20px;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  box-shadow: 0px 20px 30px 3px rgba(0, 0, 0, 0.55);
  position: relative;
}

.card-main-image {
  position: relative;
  overflow: hidden;
  padding-bottom: 80%;
  border-radius: 1em;
}

.card-main-image img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
}

.card-content {
  display: inline-block;
  overflow: hidden;
}

.js-alternate-images {
  display: none;
}

.branded-name {
  font-family: "Roboto";
  padding: 5px;
  font-size: 16px;
  letter-spacing: 1px;
  height: 36px;
  font-weight: 500;
}

.price-label {
  position: relative;
  top: 7px;
  left: 10px;
  font-weight: 600;
}

.wrapper-bottom-card {
  position: absolute;
  right: 10px;
  bottom: 5px;
}

.favorite-button {
  color: #969696;
  border: none;
  width: auto;
  background-color: transparent;
  cursor: pointer;
}

.favorite-button:hover {
  color: #ff5a5f;
}

/************************
search field and button
*************************/
@import url(https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

.search-wrapper {
  width: 100%;
  text-align: center;
}

.search {
  width: 100%;
  position: relative;
  margin-top: 100px;
  margin-bottom: 40px;
}
.search:before {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-family: "FontAwesome";
  content: "\f002";
  background: #707070;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  -webkit-font-smoothing: subpixel-antialiased;
  font-smooth: always;
}

.search-term {
  width: 100%;
  border: 2px solid #707070;
  padding: 5px;
  height: 40px;
  border-radius: 5px;
  outline: none;
}

.search-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  opacity: 0;
  cursor: pointer;
}

/* Non-mobile, grid */
@media only screen and (min-width: 640px) {
  .branded-name {
    padding: 10px;
  }

  .js-alternate-images {
    /* display: inline-block; */
    /*margin-top: 10px;*/
  }
}
