* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


/************************
REGISTER AND SIGN IN
*************************/
/* TODO: change style for a elements */
/* TODO: make form responsive */
/* TODO: add h1 to the h1 in the forms  */
/* TODO: change input for forms add a class */
/* TODO: add class to form buttons */

.register-header, .login-header {
  font-family: 'Sofia', cursive;
}
a {
  text-decoration: none;
    color: #1ab188;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

a:hover {
  color: #179b77;
}

.form {
  background: rgba(19, 35, 47, 0.9);
  position: relative;
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  z-index: 50 !important;
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}

.tab-group:after {
  content: "";
  display: table;
  clear: both;
}

.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.tab-group li a:hover {
  background: #1FCE6D;
  color:#ffffff;

}

.tab-group .active a {
  background: #1FCE6D;
  color: #ffffff;
}

.tab-content > div:last-child {
  display: none;
}

h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 40px;
}

label {
  position: absolute;
  -webkit-transform: translateY(6px);
  -moz-transform: translateY(6px);
        transform:translateY(6px);
  left: 13px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
      transition: all 0.25s ease;
  -webkit-backface-visbility: hidden;
  -moz-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}

label.active {
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
      transform: translateY(50px);
      left: 2px;
      font-size: 14px;
}

label.highlight {
color: #ffffff;
}

input, textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  -moz-transition: border-color .25s ease, box-shadow .25s ease;
    transition: border-color .25s ease, box-shadow .25s ease;
}

input:focus, textarea:focus {
  outline: 0;
  border-color: #1ab188;
}

textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.top-row::after {
  content: "";
  display: table;
  clear: both;
}

.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}

.top-row > div:last-child {
  margin: 0;
}


.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #1FCE6D;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
      transition: all 0.5s ease;
      -webkit-appearance: none;
  cursor: pointer;
}

.button:hover, .button: focus {
  background: #1ab188;
  cursor: pointer;
}

.button-block {
  display: block;
  width: 100%;
}

/************************
Feed items and images
*************************/

.sneaker-card {
   border: 1px solid #E5E5E5;
   margin-bottom: 20px;
   border-radius: 10px;
  -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   box-shadow: 0px 20px 30px 3px rgba(0, 0, 0, 0.55);
   position: relative;

}

.card-main-image {
  position: relative;
  overflow: hidden;
  padding-bottom: 80%;
}

.card-main-image img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
}


.card-content {
  display: inline-block;
  overflow: hidden;
}

.js-alternate-images {
  display: none;
}


.branded-name {
   font-family: "Roboto";
   padding: 5px;
   font-size: 16px;
   letter-spacing: 1px;
   height: 36px;
   font-weight: 500;
}

.price-label {
  position: relative;
  top: 7px;
  left: 10px;
  font-weight: 600;

}

.favorite-button {
  position: relative;
  color: #969696;
  border: none;
  right: 0;
  background-color: transparent;
  cursor: pointer;
}

.wrapper-bottom-card {
  position: absolute;
  right: 10px;
  bottom: 5px;
}

.favorite-button:hover {
  color: #ff5a5f;
}

/************************
search field and button
*************************/

.search-container {
  text-align: center;
}

.search-container fieldset {
  position: relative;
  display: inline-block;
  padding: 0 0 0 40px;
  background: white;
  border: 1px solid #3A539B;
  border-radius: 5px;
}

.search-input, .search-button {
  position: relative;
  width: 200px;
  height: 50px;
  padding: 0;
  display: inline-block;
  float: left;
}

.search-input {
  color: #666;
  border: 0 none;
  z-index: 2;
}

.search-input:focus {
  outline: 0 none;
}
.search-input:focus + .search-button {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.search-input:focus + .search-button .fa-search {
  -webkit-transform: translate(0px, 0);
  -moz-transform: translate(0px, 0);
      transform: translate(0px, 0);
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
        transition-duration: 0.3s;
        color: white;
}

.search-button {
  z-index: 1;
  width: 50px;
  border: 0 none;
  background: #0091ea;
  -webkit-transform: translate(-50px, 0);
  -moz-transform: translate(-50px, 0);
          transform: translate(-50px, 0);
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
      transition-duration: 0.3s;

}

.fa-search {
  font-size: 1.4rem;
  color: #BBB;
  z-index: 3;
  top: 25%;
  -webkit-transform: translate(-190px, 0);
  -moz-transform: translate(-190px, 0);
      transform: translate(-190px, 0);
  -webkit-transiiton-duration: 0.3;
  -moz-transiiton-duration: 0.3;
  transition-duration: 0.3s;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;


}


/* Non-mobile, grid */
@media only screen and (min-width: 640px) {

  .col-12 {
    width: 50%;
    float: left;
  }

 .branded-name {
   padding: 10px;
 }

  .js-alternate-images {
    display: inline-block;
    /*margin-top: 10px;*/

  }

}
