* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/************************
Feed items and images
*************************/

.sneaker-card {
  margin-bottom: 20px;
  border-radius: 1em;
  padding: 23px;
  background: #fff;
  position: relative;
  -webkit-box-shadow: 0 2px 55px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 55px rgba(0, 0, 0, 0.1);
}

.card-main-image {
  position: relative;
  overflow: hidden;
  padding-bottom: 80%;
  border-radius: 1em;
}

.card-main-image img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
}

.card-content {
  display: inline-block;
  overflow: hidden;
}

.js-alternate-images {
  display: none;
}

.branded-name {
  font-family: "Roboto";
  padding: 5px;
  font-size: 16px;
  letter-spacing: 1px;
  height: 36px;
  font-weight: 500;
  color: black;
}

.price-label {
  position: relative;
  top: 7px;
  left: 10px;
  font-weight: 600;
}

.wrapper-bottom-card {
  position: absolute;
  right: 10px;
  bottom: 5px;
}

.favorite-button {
  color: #969696;
  border: none;
  width: auto;
  background-color: transparent;
  cursor: pointer;
}

.favorite-button:hover {
  color: #ff5a5f;
}

/* Non-mobile, grid */
@media only screen and (min-width: 640px) {
  .branded-name {
    padding: 10px;
  }

  .sneake-card {
    /* width: 150px; */
  }

  .js-alternate-images {
    /* display: inline-block; */
    /*margin-top: 10px;*/
  }
}
