* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/************************
search field and button
*************************/
@import url(https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

/************************
nav
*************************/

/* Non-mobile, grid */
@media only screen and (min-width: 640px) {
  .branded-name {
    padding: 10px;
  }

  .js-alternate-images {
    display: inline-block;
    /*margin-top: 10px;*/
  }
}
